com.sun.security.jgss.login {
  com.sun.security.auth.module.Krb5LoginModule required
  doNotPrompt=true
  useTicketCache=true
  principal="HTTP/DESKTOP-4FPVT6T.zohor.com@ZOHOR.COM"
  useKeyTab=true
  keyTab="C:/Program Files/Apache Software Foundation/Tomcat 10.0/conf/zoho_sso.keytab"
  debug=true
  isInitiator=true;
};